.container {
    padding: 10px;
}

.header {
    height: 150px;
    padding: 10px 0 25px;

}
.title {
    font-size: 24px;
}

.descriptionContainer {
    display: flex;
    justify-content: space-between;
}

.description {
  margin: 10px;
}

.tabs {

}

.tab {

}

.cardListItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardListItemTitle {
    font-weight: 600;
}

.price {
}

.titleContainer {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.buy {
    border-radius: 25px;
    background: #31ec8d;
    padding: 2px 12px 4px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
}
